@import "mocha.css";

/* General */

* {
  font-family: "Cascadia Mono NF", monospace;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

tooltip {
  background-color: @surface0;
  border-radius: 1rem;
}

tooltip label {
  color: @text;
}

/* Workspaces */

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding: 0.4rem;
  background-color: @surface0;
}

#workspaces button:hover {
  color: @blue;
}

#workspaces button.focused {
  color: @sky;
}

#workspaces button.urgent {
  color: @red;
  background-color: @surface0;
}

/* Groups */

#power,
#hardware,
#output-devices {
  border-radius: 1rem;
  padding: 0rem;
  margin: 5px 5px 5px 0;
  background-color: @surface0;
}

#custom-lock,
#custom-shutdown,
#custom-reboot,
#custom-logout,
#custom-hibernate,
#custom-suspend,
#battery,
#cpu,
#memory,
#pulseaudio,
#backlight {
  border-radius: 1rem;
  padding: 0 1rem;
}

/* Power group */

#power {
  margin-right: 1rem;
}

#custom-lock {
  color: @lavender;
}

#custom-reboot {
  color: @yellow;
}

#custom-logout {
  color: @green;
}

#custom-shutdown {
  color: @red;
}

#custom-lock {
  color: @lavender;
}

#custom-hibernate {
  color: @blue;
}

#custom-suspend {
  color: @peach;
}

/* Hardware group */

#battery {
  color: @green;
  border-radius: 0 1rem 1rem 0;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

/* Output devices */

#backlight {
  color: @yellow;
}

#pulseaudio {
  color: @blue;
}

#memory {
  color: @yellow;
}

#cpu {
  color: @mauve;
}

/* Single modules */

#custom-music,
#tray,
#clock,
#language,
#idle_inhibitor,
#power-profiles-daemon,
#mode,
#scratchpad,
#network,
#bluetooth {
  padding: 0 1rem;
  margin: 5px 5px 5px 0;
  border-radius: 1rem;
  background-color: @surface0;
}

#clock {
  color: @blue;
}

#custom-music {
  color: @mauve;
}

#power-profiles-daemon.performance {
  color: @yellow;
}

#power-profiles-daemon.balanced {
  color: @maroon;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#idle_inhibitor.activated {
  color: @green;
}

#idle_inhibitor.deactivated {
  color: @red;
}

/* All modules */

#tray:hover,
#idle_inhibitor:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-lock:hover,
#custom-shutdown:hover,
#custom-suspend:hover,
#custom-reboot:hover,
#custom-hibernate:hover,
#custom-logout:hover,
#custom-music:hover,
#network:hover,
#bluetooth:hover {
  background-color: @surface2;
}
