[user]
	name = FilippoFantinato
	email = fantinato.filippo99@gmail.com
[init]
	defaultBranch = main
[status]
	short = true
[core]
	editor = vim
[fetch]
	prune = true
[alias]
	empty = git commit --allow-empty
