[Desktop Entry]
Name=Logseq
Exec=/home/filippofantinato/.local/bin/logseq
Icon=/home/filippofantinato/.local/share/icons/custom/logseq.png
NoDisplay=false
Type=Application

