[Desktop Entry]
Name=Typora
Exec=/opt/typora/Typora %u
Icon=/home/filippofantinato/.local/share/icons/custom/typora.svg
NoDisplay=falset
Type=Application
MimeType=x-scheme-handler/eclipse+command;

